- id: '1734901730496'
  alias: Turn on bedroom lights
  description: ''
  triggers:
  - device_id: 90f8345178718fd833a672963e7a4852
    domain: hue
    type: initial_press
    subtype: 1
    unique_id: 14fa0836-5494-4c29-9620-b7c649562b6c
    metadata: {}
    trigger: device
  conditions: []
  actions:
  - action: light.turn_on
    metadata: {}
    data:
      transition: 1
      kelvin: 2944
      brightness_pct: 50
    target:
      area_id: bedroom
  mode: single
- id: '1734901826065'
  alias: Turn off bedroom lights
  description: ''
  triggers:
  - device_id: 90f8345178718fd833a672963e7a4852
    domain: hue
    type: initial_press
    subtype: 4
    unique_id: dacfe14c-50f4-4ebe-8f97-b8dcd7d8c732
    trigger: device
  conditions: []
  actions:
  - action: light.turn_off
    metadata: {}
    data:
      transition: 1
    target:
      area_id: bedroom
  mode: single
- id: '1734902008292'
  alias: Dim bedroom lights
  description: ''
  triggers:
  - device_id: 90f8345178718fd833a672963e7a4852
    domain: hue
    type: initial_press
    subtype: 3
    unique_id: 2acb0b31-0da7-40a5-805a-b9acc4327403
    trigger: device
  conditions: []
  actions:
  - type: turn_off
    device_id: c546a56d80b3fd5cf15c0223a650fd83
    entity_id: 80c506fc513f99f8199274153a1be6bf
    domain: light
  - action: light.turn_on
    metadata: {}
    data:
      kelvin: 2000
    target:
      device_id: b7dd841239a97ff298dc866b1eac5b6b
  mode: single
- id: '1736409255297'
  alias: Switch on living room lights
  description: Switch on living room lights when there is no sun light
  triggers:
  - device_id: 0f1ac3694243722d548c2ba88a91828b
    domain: hue
    type: initial_press
    subtype: 1
    unique_id: cdbcdd56-7687-43e3-89fb-b7c885bc21ff
    trigger: device
  conditions: []
  actions:
  - action: light.turn_on
    metadata: {}
    data:
      kelvin: 2000
    target:
      area_id: living_room
  mode: single
- id: '1736409446078'
  alias: Turn off living room lights
  description: Turn off living room lights after sun rise or when it is 2230
  triggers:
  - device_id: 0f1ac3694243722d548c2ba88a91828b
    domain: hue
    type: initial_press
    subtype: 4
    unique_id: 5862ab8b-61ae-4834-9dd0-fccbfc7fa13d
    trigger: device
  conditions: []
  actions:
  - action: light.turn_off
    metadata: {}
    data: {}
    target:
      area_id: living_room
  mode: single
- id: '1750883116424'
  alias: Motion activated kitchen lights
  description: ''
  triggers:
  - trigger: state
    entity_id: binary_sensor.motion_sensor_1_motion
    from: 'off'
    to: 'on'
  actions:
  - alias: Turn on the light
    action: light.turn_on
    target:
      area_id: kitchen
    data: {}
  - alias: Wait until there is no motion from device
    wait_for_trigger:
      trigger: state
      entity_id: binary_sensor.motion_sensor_1_motion
      from: 'on'
      to: 'off'
  - alias: Wait the number of seconds that has been set
    delay: 120
  - alias: Turn off the light
    action: light.turn_off
    target:
      area_id: kitchen
    data: {}
  mode: restart
  max_exceeded: silent
- id: '1753637902384'
  alias: Turn on living room lights
  description: Turn on living room lights when home and after sunset and before sunrise
  triggers:
  - type: motion
    device_id: f0e8a5949f45150b38afffb79237f57f
    entity_id: 692ca957fabcd5dd17262744b7045ebf
    domain: binary_sensor
    trigger: device
  conditions:
  - condition: sun
    after: sunset
    before: sunrise
  - type: is_off
    condition: device
    device_id: 9179a2f05cb186242144eb29ea87d28a
    entity_id: 2ab2e55a8c43b150f38bd6f8d36bd960
    domain: binary_sensor
  actions:
  - action: light.turn_on
    metadata: {}
    data: {}
    target:
      area_id: living_room
  mode: single
- id: '1761838049827'
  alias: Turn off lights and set thermostat when leaving home
  description: ''
  triggers:
  - entity_id: person.daniel
    to: not_home
    trigger: state
  actions:
  - target:
      entity_id: all
    data: {}
    action: light.turn_off
  - target:
      entity_id: climate.thermostat_thermostat
    data:
      temperature: 16.5
    action: climate.set_temperature
  mode: single
- id: '1764863934572'
  alias: Operate hallway light on motion
  description: ''
  use_blueprint:
    path: homeassistant/motion_light.yaml
    input:
      motion_entity: binary_sensor.motion_sensor_2_motion
      light_target:
        area_id: hallway
      no_motion_wait: 10
- id: '1766955978343'
  alias: Turn off lights when going to sleep
  description: ''
  triggers:
  - type: turned_on
    device_id: 9179a2f05cb186242144eb29ea87d28a
    entity_id: 2ab2e55a8c43b150f38bd6f8d36bd960
    domain: binary_sensor
    trigger: device
  conditions: []
  actions:
  - action: light.turn_off
    metadata: {}
    data: {}
    target:
      area_id:
      - bedroom
      - hallway
      - kitchen
      - living_room
      - study
  mode: single
- id: '1770062522320'
  alias: Study occupancy switched lights (RGB orange, specific daylight window)
  description: ''
  triggers:
  - device_id: 3e02d9ad46133ab79a746f0e0e9db074
    entity_id: 4448473038e08a5eb43d28966a561a26
    domain: binary_sensor
    type: occupied
    id: room_occupied
    trigger: device
  - device_id: 3e02d9ad46133ab79a746f0e0e9db074
    entity_id: 4448473038e08a5eb43d28966a561a26
    domain: binary_sensor
    type: not_occupied
    id: room_not_occupied
    trigger: device
  conditions:
  - condition: and
    conditions:
    - condition: sun
      after: sunrise
      after_offset: -01:30:00
    - condition: sun
      before: sunset
      before_offset: +01:30:00
  actions:
  - choose:
    - conditions:
      - condition: trigger
        id: room_occupied
      sequence:
      - action: light.turn_on
        metadata: {}
        data:
          rgb_color:
          - 255
          - 100
          - 0
          brightness_pct: 25
          transition: 2
        target:
          area_id: study
    - conditions:
      - condition: trigger
        id: room_not_occupied
      sequence:
      - action: light.turn_off
        metadata: {}
        data:
          transition: 2
        target:
          area_id: study
  mode: single
