api:
  dashboard: true
  insecure: true

entryPoints:
  http:
    address: ":80"
  https:
    address: ":443"
  traefik:
    address: ":8080"

providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
    network: proxy

certificatesResolvers:
  cloudflare:
    acme:
      email: daniel-steman@live.nl
      storage: /acme.json
      dnsChallenge:
        provider: cloudflare
        resolvers:
          - 1.1.1.1:53
          - 1.0.0.1:53

http:
  routers:
    ha-secure:
      rule: "Host(`homelab.danielsteman.com`)"
      entryPoints:
        - https
      tls:
        certResolver: cloudflare
      service: ha

    ha-fallback-http:
      rule: "HostRegexp(`{host:.*}`)"
      entryPoints:
        - http
      service: ha

    ha-fallback-https:
      rule: "HostRegexp(`{host:.*}`)"
      entryPoints:
        - https
      tls:
        certResolver: cloudflare
      service: ha

  services:
    ha:
      loadBalancer:
        servers:
          - url: "http://homeassistant:8123"

accessLog:
  filePath: "/logs/access.log"
  format: json

log:
  level: DEBUG
